/*
basic dark mode colors
bg = rgb(42,43,46);
white = rgb(245,245,245);
red = rgb(247,121,121);
blu = rgb(131,215,234);

vsc theme colors:
bg = rgb(40,44,52)
fg = rgb(44,49,60)
red = rgb(224,108,117)
blu = rgb(86,182,194)
green = rgb(152,195,121)

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #FAF9F6;
}

#grid_wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 50px) minmax(0, 1fr);
  grid-template-areas:
  "hea hea hea"
  "se1 se2 se3"
  ;
}


header {
  grid-area: hea;
  grid-template-columns:repeat(4, 1fr);
  /*margin: top right bottom left*/
  margin: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section_1 {
  grid-area: se1;
  /*margin: top right bottom left*/
  margin: 10px 10px 30px 50px;
}

#section_2 {
  grid-area: se2;
  /*margin: top right bottom left*/
  margin: 10px 30px 30px 30px;
}

#section_3 {
  grid-area: se3;
  /*margin: top right bottom left*/
  margin: 10px 50px 30px 10px;
}

#box_wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: minmax(0, 3fr) minmax(0, 3fr) minmax(0, 1fr);
  grid-template-areas:
  "img"
  "sec"
  "foo"
  ;
}

#image {
  grid-area: img;
  display: flex;
  /*margin: top right bottom left*/
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

#section {
  grid-area: sec;
  background-color: #1abc9c;
  /*margin: top right bottom left*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer { 
  display: flex;
  grid-area: foo;
  background: #1abc9c;
  /*margin: top right bottom left*/
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}

.button {
  background-color: #1abc9c; /* Green */
  border: none;
  color: #FAF9F6;
  border: 2px solid #1abc9c; /* Green */
  height: 80%;
  padding: 2px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #FAF9F6; /* Green */
  color: #1abc9c;
}


/* ----------------- ARTIKEL ----------------- */

#grid_wrapper_artikel {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
  grid-template-rows: minmax(0, 50px) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
  "hea hea hea"
  "se1 se1 img"
  "se3 se2 se2"
  ;
}

#a_section_1 {
  background-color: salmon;
  grid-area: se1;
  margin-top: 10px;
  margin-left: 20px;
}

#a_section_2 {
  background-color: yellow;
  grid-area: se2;
  margin-right: 20px;
  margin-bottom: 20px;
}

#a_section_3 {
  background-color: green;
  grid-area: se3;
  margin-left: 20px;
  margin-bottom: 20px;
}

#a_image {
  grid-area: img;
  display: flex;
  /*margin: top right bottom left*/
  overflow: hidden;
}